[core]
    editor = vim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[alias]
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
